on:
  push:
    branches:
      - master
      - development
  pull_request:
    branches:
      - master
      - development

name: test-coverage

jobs:
  test-coverage:
    if: "!contains(github.event.commits[0].message, '[skip-ci]')"
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            any::XML
            BioSIM=?ignore
            fastshp=?ignore
            NLMR=?ignore
            J4R=?ignore
            PredictiveEcology/quickPlot@development
            PredictiveEcology/reproducible@development
            PredictiveEcology/Require@development
            PredictiveEcology/SpaDES.core@development
            PredictiveEcology/SpaDES.tools@development

      - name: Install additional package dependencies
        run: |
          pak::pkg_install("remotes")
          pak::pkg_install("achubaty/NLMR")
          remotes::install_github("s-u/fastshp")
          install.packages("https://sourceforge.net/projects/repiceasource/files/latest", repos = NULL,  type = "source") ## J4R
          install.packages("https://sourceforge.net/projects/biosimclient.mrnfforesttools.p/files/latest", repos = NULL,  type = "source") ## BioSIM
        shell: Rscript {0}

      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}
